body {
  display: flex;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: sans-serif;
}

.half {
  display: flex;
  flex: 0.5;
}

.center-everything {
  justify-content: center;
  align-items: center;
}

#profile-picture-container {
  background-color: #262626;
}

#info-container {
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
  padding-right: 5%;
}

#info > * {
  margin-top: -15px;
}

.name {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.profile-button {
  padding: 1px 32px;
  background-color: #F76B1D;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 20px;
}

#tags {
  display: flex;
  flex-wrap: wrap;
}

#tags > p {
  margin: -2px 3px;
  font-size: 12px;
  color: grey;
}

.profilepic {
  width: 100%;
  height: 100%;
}
